.soon {
    text-align: center;
}

.cards-proyects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 3rem;
}

.cards-proyects img {
  border-radius: 3px;
  filter: blur(1.3px);
  transition: 0.2s all ease-in;
}

.cards-proyects img:hover {
  transform: scale(1.05);
  transition: 0.2s all ease-in;
  filter: blur(0px);
}

/*------ FOOTER ------*/

footer {
    background-color: #3e1d5aa8;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
    padding: 0.1px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 30px;
}
