.redes a {
    color: #A7A5FF;
    display: inline-block;
    margin: auto;
    transition: 0.1s all ease-in-out;
}

.redes {
    background-color: #411E5F;
    padding: 20px;
}

.redes a:hover {
    color: #8887d1;
    transform: scale(1.1);
    transition: 0.2s all ease;
}

.redes .icons {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    text-align: center;
    padding: 10px;
}

.redes .title {
    text-align: center;
    font-size: 2em;
}

/*------ FOOTER ------*/

footer {
    background-color: #3e1d5aa8;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
    padding: 0.1px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 30px;
}