
article div img {
    border-radius: 360px;
    width: 200px;
    height: 200px;
    display:block;
    margin:auto;
    
}

.about {
    text-align: center;
}

.trailer {
    display: block;
    margin:auto;
}

.fundadores {
    text-align: center;
}

