article div img {
    border-radius: 360px;
    width: 200px;
    height: 200px;
    display:block;
    margin:auto;
    transition: 0.2s all ease;
}

article div img:hover {
    transition: 0.2s all ease;
    transform: scale(1.04);
}


article .creators {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    padding: 10px;
    
}

.about {
    text-align: center;
    background-color: #411E5F;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.trailer {
    display: block;
    margin:auto;
}

.fundadores {
    text-align: center;
    padding: 2rem;

}


/*------ RESPONSIVE ------*/
@media (min-width: 360px) {
    article .creators {
        grid-template-columns: repeat(1, 2fr);
    }

    .trailer {
        width: 300px;
    }

}

@media (min-width: 871px) {
    article .creators {
        grid-template-columns: repeat(3, 2fr);
    }

    .trailer {
        width: 800px;
    }
       
}