/* Load fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #642f92;
	color: white;
	font-family: 'Poppins', sans-serif;
}

/*------ Prueba, se puede eliminar luego ------*/
header nav li a:hover {
    color:black;
}
header nav li a {
    color:white;
}

/*------ FOOTER ------*/
footer {
	background-color: #3e1d5aa8;
	text-align: center;
	font-family: 'Nunito', sans-serif;
	font-size: 1.3em;
	padding: 4px;
}
